* {
    font-family: Helvetica;
    font-size: 20px;
    background-color: rgb(255, 202, 196);
}

h1 {
    font-size: 44px;
    /* text-align: center; */
    width: 1000px;
    color: #072e1a;
}

table {
    border: solid black 4px;
    background-color: rgb(40, 92, 70);
}

th {
    width: 60px;
    border: solid black 1px;
}

td {
    text-align: center;
    height: 30px;
    border: solid black 1px;
    background-color: #7cc3a0;
}

td:hover {
    background-color: #b1f3d2;
}

.footerbar {
    background-color: rgb(0, 78, 44);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:30px;
}